@keyframes example {
  0% {
    /* autoprefixer: off */
    transform: rotate(0deg);
  }
  to {
    /* autoprefixer: off */
    transform: rotate(360deg);
  }
}

.rotate {
  animation: running example 60s infinite linear;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
}
